# Puerto del servidor Express
PORT=3000

# Conexión a MariaDB / MySQL
DB_HOST=localhost
DB_USER=admin_ti
DB_PASSWORD=admin123
DB_NAME=control_equipos_ti

# Conexión a MongoDB
MONGO_URI=mongodb://localhost:27017/control_equipos_ti

# Puerto del servidor Express
PORT=3000

# Conexión a MariaDB / MySQL
DB_HOST=localhost
DB_USER=admin_ti
DB_PASSWORD=admin123
DB_NAME=control_equipos_ti

# Conexión a MongoDB
MONGO_URI=mongodb://localhost:27017/control_equipos_ti

# Credenciales para Nodemailer (Formulario de Contacto)
CORREO_USER=tucorreo@gmail.com
CORREO_PASS= aquí tenemos que poner exclusivamente la contraseña de aplicación de 16 caracteres que te genera Google tras activar la verificación en dos pasos.